# PRESETS:

<Files *.env>
    deny from all
</Files>

<Files *.htaccess>
    deny from all
</Files>

<Files *.composer.json>
    deny from all
</Files>

<Files *.composer.lock>
    deny from all
</Files>

<Files *.package.json>
    deny from all
</Files>

<Files *.package-lock.json>
    deny from all
</Files>

RewriteEngine On

RewriteRule \/.git\/ - [NC,F]
RewriteRule \/node_modules\/ - [NC,F]
RewriteRule \/vendor\/ - [NC,F]

# OTHER: ADD CUSTOM LINES BELOW:
